body{
    background: #FFF;
    height: min(100vh);
}
                    /* Header section */
.nav-item-link{
    color: #000;
}
.Menu-brand{
    color: #000;
}
.burger div{
    background: #000;
}
                    /* Main section */
main{

}
                    /* Footer section */
footer{
    background: #FFF;
    top: 100%;
}
.social-icon-f,
.social-icon-i,
.social-icon-y {
    color: rgb(170, 170, 170);
}