:root {
    --main-bgC: #284b63;
    --main-bgBox: #d9d9d9;
    --main-T: #ffffff;
    --main-bgButton: #3c6e71;
    --main-bgButtonT: #353535;
}
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

header{
    background-color: var(--main-bgC);
    height: 100vh;
}
.Company{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Company-logo{
    color: #fff;
    animation-name: Logo_movement;
    animation-duration: 4s;
    font-weight: 300;
}
.Company-text{
    color: #fff;
    font-weight: 500;
    margin-top: .5em;
    margin-left: .5em;
}
                    /* Don't touch */
.products{
    padding: 2em;
    height: 100vh;
}
.section-name .text{
    font-weight: 300;
}
.section-data{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
}

.product{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 10em;
}
.info{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 10px;
}
.p-name{
    margin-bottom: -2px;
    font-size: 20px;
}
.c-name{
    margin-left: 10px;
    font-size: 14px;
}

.showP{
    margin-top: 3em;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.showP-inside{
    display: flex;
    justify-content: center;
}
.showP p{
    margin: 3px 3px 0px 3px;
    padding: 0px;
    
}

.about-us{
    background-color: var(--main-bgC);
    height: 100vh;
}


@media only screen and (max-width: 900px) {
    .sep {
        margin-top: 0em;
    }
}

@keyframes Logo_movement {
    0% {
        letter-spacing: 1em;
    }

    100% {
        letter-spacing: 0em;
    }
}